<div class="container">
  <h1>Stupid coaching</h1>
  <h4>Ask your coach anything</h4>
    <form action='/answer' class="input-group">
      <input type='text' class="form-control width=100%" name='question'>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Ask</button>
      </span>
    </form>
</div>

